*{
    margin: 0;
    padding: 0;
}
.body{
    position: relative;
    z-index: -2;
}
.HEADER{
    display: grid;
    grid-template-rows: .2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
background-image: url("/images/b1489a55645295.5b463687dbf0a.jpg");
/* background-image: url("/images/5651990.webp"); */
/* background-image: url("/images/portfolio4_Cover_banner1.jpg"); */
background-attachment: fixed;
background-repeat: inherit;
height: 100vh;
text-decoration: none;
color:white;

}
/* .top_container */
.top_container{
    font-family: 'IBM Plex Mono', monospace;
    /* position: fixed;   */
    left: 0;  
    right: 0;  
    /* z-index: 100; */
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav{
    font-size: 2rem;
    color:white;
    text-decoration: none;
    margin-left: 6%;
    font-size: 1rem;
}
.nav:hover{
    scale: 1 5;
    color: red;
}
.lio{
    color:red; 
}
.nav1{
    margin-left: 5%;
    margin-right: 14%;
    font-size: 3rem;
    color:white;
    text-decoration: none;
}
@media(max-width:600px) {
    .nav{
        display: none;
    }

}
/*top_container */
.middel_container{
    font-family: 'Alfa Slab One', cursive;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 25%;
    text-align: center;
    justify-items:center;
    font-size: 2rem;
    color: rgb(250, 252, 252);
}
/* SKILLS */
#skill{
display: flex;
flex-wrap: wrap;
flex-direction: row;
height: 80%;
justify-content: center;
text-align: center;
}
/* PHOTO */
.bottam_containner{
    margin-top: 8%;
margin-bottom:6%;
}
.My_image_bottam{
    margin-left: 9%;
    height: 256px;
    width: 256px;
}
.skillcontent{
    justify-content: left;
    text-align: justify;
    /* width: 55%;
    margin-left: 30%; */
    width: 75%;
    margin-left: 18%;
}
@media(max-width:600px) {
    #skill{
        height: 100vh;  
    } 

}
/* BUTTOn */
.myButton {
    box-shadow: 0px 11px 14px -8px #8a2a21;
	background:linear-gradient(to bottom, #ba382c 5%, #f24437 100%);
	background-color:#ba382c;
	border-radius:5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:-1px -2px 3px #810e05;

    max-width: 50%;
}
.myButton:hover {
    background:linear-gradient(to bottom, #f24437 5%, #ba382c 100%);
	background-color:#f24437;
}
.myButton:active {
    position:relative;
	top:1px;
}
.btn{
    margin-left: -60%;
   margin-top: 20%; 
   margin-bottom: 20%;}
/* BUTTOn */

/* mid */

#MID{
   display: flex; 
   background-color: #6b7575d9;
}
.SKILLS{
    text-align: justify;
    justify-content: center;
    margin-top: 70px;
    margin-left: 75px;
    font-size: 8vh;
}
.W{  
    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 20vh;
    
}
.C{   
    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 15vh;
}
.J{
    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 20vh;
}
@media(max-width:600px){ 
.W{

    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 10vh;
}
.C{

    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 10vh;

}
.J{

    display: inline-block;  
    text-align: center;
    max-width: 200px;
    margin: 10vh;

}
}
/* contact me */
/* #bottm{
background-color: rgb(78, 96, 84);
color: white
}
.cont{
font-size: 4vh;
text-align: center;
}
.for{
    justify-content: center;
} */
#fotter{
    color: white;
    text-align: center;
    /* margin: 50px; */
    font-family: 'Zen Dots', cursive;
    text-align: center;
    background-color: black;
}
